.gallery {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.js-register-form {
  margin: 15px;
}

#counter {
  display: inline-flex;
  flex-direction: column-reverse;
  text-align: center;
  margin-left: 200px;
}

#validation-input {
  border: 3px solid #bdbdbd;
  outline: none;
}

#validation-input.valid {
  border-color: #4c4eaf;
}

#validation-input.invalid {
  border-color: #f44336;
}

.magic {
  font-size: 15px;
}
